  /* Estilos básicos para el menú */
  #menu {
    width: 70vw;
    max-width:50vh; 
    height: 99%;
    z-index: 2000;
    background: #fff;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-101%); /* Oculto inicialmente */
    transition: transform 0.3s ease;
    font-family: Arial, sans-serif;
  }
  #menu.open {
    transform: translateX(0);
    box-shadow: 1vh 1vh 3vh rgba(0, 0, 0, 0.7); /* Sombra */
  }
      .imagen-panel {
          width: 100%; /* Hace que la imagen ocupe todo el ancho del menú */
          height: auto; /* Mantiene la proporción de la imagen */
      }

      /* Botón del menú */
      #menuButton {
        background-color: transparent;
        cursor: pointer;
      }

      #menu ul {
        list-style-type: none; /* Sin viñetas en la lista */
      }

      #menu ul li {
        padding: 2.1vh 0;
        font-size: 2.5vh;
        display: flex;
        align-items: center; /* Alinea icono y texto verticalmente */
      }

      #menu ul li i {
        margin-right: 1.7vh; /* Espacio entre icono y texto */
        font-size: 2.6vh; /* Tamaño de los iconos */
        color: #666; /* Color del icono */
        display: flex;
        align-items: center; /* Asegura que el icono esté alineado verticalmente */
        justify-content: center; /* Centra el icono en su contenedor */
        min-width: 4vh; /* Asegura que todos los iconos ocupen el mismo ancho, para alinear el texto */
      }

      #menu ul li span {
          display: inline-block;
          vertical-align: middle; /* Asegura que el texto esté alineado con los iconos */
          line-height: 1; /* Ajusta la altura de la línea para mejor alineación */
      }





/* Estilos para la ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100vw;  /* Ocupa todo el ancho de la pantalla */
  height: 100vh; /* Ocupa todo el alto de la pantalla */
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

.modal-content {
  background-image: url('https://blogsaverroes.juntadeandalucia.es/iesantonioalvarezlopez/files/2024/09/textura4.jpg');
  background-size: cover;   /* La imagen cubre todo el espacio */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat;
  width: 100vw;  /* El contenido también ocupa todo el ancho de la pantalla */
  height: 100vh; /* El contenido ocupa todo el alto de la pantalla */
  box-sizing: border-box; /* Asegura que el padding esté dentro del tamaño del modal */
  border-radius: 0; /* Sin esquinas redondeadas ya que ocupa toda la pantalla */
  color: #fff; /* Color del texto en blanco para visibilidad */
  box-shadow: none; /* Sin sombras */
  display: flex;
  flex-direction: column;  /* Para alinear el contenido verticalmente */
  justify-content: start; /* Centrar contenido verticalmente */
  align-items: center;
}

.modal-options button {
  display: block;
  width: 90vw;
  padding: 2.5vh;
  margin: 2.5vh 0;
  border: none;
  border-radius: 0; /* Sin esquinas redondeadas ya que ocupa toda la pantalla */
  text-shadow: none; /* Desactiva cualquier sombra */
  color: #333;
  background-color: #eee;
  font-size: 2.6vh;
  text-align: left;
  cursor: pointer;
}

.modal-options button i {
  margin-right: 2vh; /* separación entre iconos y texto */
}


/* ----------------- Efectos movimiento items ------------------------ */

/* --------------------------------------- */





/* ----------------- Topbar ---------------- */
/* ------ Barra superior: Incidencias TIC, Más acciones, ... */
.top-bar {
    position: fixed;
    width: 100vw;
    margin-bottom: 5vh;    
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #3f51b5;
    color: white;
    padding: 1vh;
    position: relative;
}
.back-button {
    background: none;
    border: none;
    color: white;
    font-size: 5vh;
    cursor: pointer;
    margin-right: 3vh;
}
.title {
    font-size: 3vh;
}
.back-button:focus {
    outline: none;
}
/* ----------------- Fin Topbar ---------------- */

a {
    text-decoration: none;
}
